body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(73, 66, 66);
    text-shadow: black;
    background-color: rgb(158, 147, 163);;
    font-weight: 500;
}


.container-reg {
    margin: auto;
    max-width: 500px;
    width: 50%;
    margin: 50px auto;
    padding: 25px 50px;
    background-color: rgba(255, 255, 255, 0.952);
    border-radius: 10px;
}

.input-box{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    padding: 6px 0;
    justify-content: space-evenly;
    align-items: center;
    background-color: #c4d4d4;
    border-radius: 5px;
}

input, select{
    color: rgb(73, 66, 66);
    font-size: 16px;
    width: 50%;
    padding: 10px 12px;
    margin-top: 3px;
    background-color: #f3f3f3;
    border: 1px solid #eeececf5;
    border-radius: 4px;
}

label{
    width: 15%;
    text-align: left;
}

.title {
    font-size: 25px;
    padding: 0;
    font-weight: 600;
    text-align: start;
}

#btn {
    background-color: #fff;
}

 #reg-btn{
    width: 100%;
    padding: 14px 0;
    font-size: 16px;
    color: white;
    font-weight: bolder;
    background-color: rgb(60, 184, 60);
    border: none;
    border-radius: 2px;
 }

 .btn {
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 46%;
    text-align: center;
    background-color: rgb(6, 180, 180);
    border: none;
    padding: 12px 4px;
    border: 1px solid #c4d4d4;
    border-radius: 10px;
 }

 #cancel-btn{
    background-color: rgb(236, 65, 99);
 }

 select{
    width: 54%
 }